body {
  padding: 200px;
  color: #fff;
  background-color: #554465;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 20px;
}

.weather-icon  {
  font-size: 40px;
}